<% if @images.where(jardin: true).first.jardin_cover.attached? %>
  <div class="title-jardins" style="background-image: url( <%= cl_image_path @images.where(jardin: true).first.jardin_cover.key, crop: :fill %> )">
      <h1>Les Jardins</h1>
  </div>
<% else %>
  <div class="title-jardins" style="background-image: url(<%= asset_path('Jardins-banner-image.JPG') %>)">
      <h1>Les Jardins</h1>
  </div>
<% end %>
<% @jardins.each do |jardin| %>
  <div id="<%= jardin.title %>" class="jardins-boxes">
    <div class="swiper" data-controller="carousel">
      <div class="swiper-wrapper">
        <% if jardin.main_photo.attached? %>
        <div class="jardin-slider swiper-slide" style="background-image: url( <%= cl_image_path jardin.main_photo.key, crop: :fill %> )">
          <h2><%= jardin.title %></h2>
        </div>
        <% else %>
        <div class="jardin-slider swiper-slide" style="background-image: url(<%= asset_path('grange.jpg') %>)">
          <h2><%= jardin.title %></h2>
        </div>
        <% end %>
        <div class="jardin-slider swiper-slide">
          <p><%= jardin.description %></p>
        </div>
        <% if jardin.photos_url.attached? %>
          <% jardin.photos_url.each do |photo| %>
          <div class="jardin-slider swiper-slide">
            <%= cl_image_tag photo.key %>
          </div>
          <% end  %>
        <% else %>
          <div class="jardin-slider swiper-slide">
            <%= image_tag "SVG/Logo_1.svg" %>
          </div>
        <% end %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
<% end %>
