<% if current_user.admin? %>
<div class="dashboard">
  <%= render "shared/navbar_dashboard" %>
  <div class="dashboard-container">
      <h4>Mettre à jour <%= @rayon.title %></h4>
      <br>
      <%= simple_form_for(@rayon) do |f| %>
        <%= f.input :title, placeholder: "Nom de la catégorie", label: false %>
        <%= f.input :selling_points, placeholder: "Vendu à ...", label: false %>
        <button>
          <%= f.button :submit, "Mettre à jour #{@rayon.title}" %>
        </button>
      <% end %>
  </div>
</div>
<% else %>
  <div class="dashboard-container">
      <p>Vous n'êtes pas autorisé à consulter cette page.</p>
  </div>
<% end  %>
