<h1><%= @rayon.title %></h1>

<% @rayon.categories.each do |category| %>
  <div class="py-3">
    <strong><%= category.title %></strong>
    <br>
    <span><%= category.description %></span>
    <br>
    <% category.products.each do |product| %>
        <h5><%= product.title %></h5>
        <span><%= product.description %></span>
        <span>quantité : <%= product.quantity %>.</span>
        <span>Origine : <%= product.origin %>.</span>
        <span>Prix : <%= product.price %> <%= product.price_currency %>.</span>
        <%= link_to "Ajouter #{product.title} au panier", line_items_path(product_id: product.id), method: :post %>
        <%# IMAGES %>
    <% end  %>
  </div>
<% end %>

<div class="py-3">
  <span>Points de vente : <%= @rayon.selling_points %></span>
</div>
