<div class="title">
  <h1><%= @rayon.title %></h1>
</div>

<% @rayon.categories.each do |category| %>
  <div class="category">
    <div class="category-products">
      <div class="category-infos">
        <h4><%= category.title %></h4>
        <p><%= category.description %></p>
      </div>
      <% category.products.each do |product| %>
        <div class="products">
          <%= link_to product_path(product) do %>
          <div class="product-image">
            <% if product.main_photo.attached? %>
              <%= cl_image_tag product.main_photo.key %>
            <% else %>
              <%= image_tag "SVG/Leafs.svg" %>
            <% end %>
          </div>
          <div class="product-info">
            <h5><%= product.title %></h5>
            <p><%= product.description %></p>
            <br>
            <span>Quantité : <%= product.quantity %>.</span>
            <br>
            <span>Origine : <%= product.origin %>.</span>
            <br>
            <% if product.discount.nil? %>
              <span>Prix : <%= product.price %> <%= product.price_currency %> </span>
            <% else %>
              <span style="text-decoration: line-through">Prix : <%= product.price %> <%= product.price_currency %> </span>
              <br>
              <span><strong>Promotion de <%= product.discount %> % :</strong> <%= product.price_with_discount %> <%= product.price_currency %></span>
            <% end %>
          </div>
          <% end %>
          <%= link_to line_items_path(product_id: product.id), method: :post do %>
            <div class="cart-add">
              <span>Ajouter au panier</span>
            </div>
          <% end %>
        </div>
      <% end  %>
    </div>
  </div>
<% end %>

<div class="selling-points">
  <h4>Où trouver ces produits ?</h4>
  <p> <%= @rayon.selling_points %></p>
</div>
