<div class="title">
  <h1><%= @rayon.title %></h1>
</div>

<% @rayon.categories.each do |category| %>
  <div class="category">
    <div class="category-infos">
      <h4><%= category.title %></h4>
      <p><%= category.description %></p>
    </div>
    <div class="category-products">
      <% category.products.each do |product| %>
        <div class="products">
          <div class="product-info">
            <h5><%= product.title %></h5>
            <p><%= product.description %></p>
            <p>Quantité : <%= product.quantity %>.</p>
            <p>Origine : <%= product.origin %>.</p>
            <p>Prix : <%= humanized_money_with_symbol product.price %> </p>
            <%# IMAGES %>
          </div>
          <%= link_to line_items_path(product_id: product.id), method: :post do %>
            <div class="cart-add">
              <%= link_to "Ajouter au panier" %>
            </div>
          <% end %>
        </div>
      <% end  %>
    </div>
  </div>
<% end %>

<div class="selling-points">
  <h4>Où trouver ces produits ?</h4>
  <p> <%= @rayon.selling_points %></p>
</div>
