<div class="dashboard-container">
  <% if current_user.admin? %>
    <h3>Éditer <%= @prestation.title %></h3>
      <%= simple_form_for(@prestation) do |f| %>
      <%= f.input :title, placeholder: "Nom de la prestation" %>
      <%= f.rich_text_area :description, placeholder: "Description de la prestation" %>
      <br>
      <%= f.input :dates, placeholder: "Dates de la prestation" %>
      <br>
      <%= f.input :main_photo, as: :file, label: "Photo principale :" %>
      <%= f.input :photos_url, as: :file, input_html: { multiple: true }, label: "Autres photos :" %>
      <button>
        <%= f.button :submit, "Mettre à jour" %>
      </button>
    <% end %>
  <% else %>
      <p>Vous n'êtes pas autorisé à consulter cette page.</p>
  <% end  %>
</div>
