<div class="container">
  <% if current_user.admin? %>
  <h3>Éditer <%= @article.title %></h3>
  <%= simple_form_for(@article) do |f| %>
    <%= f.input :title, placeholder: "Nom de l'article" %>
    <%= f.input :content, placeholder: "Contenu de l'article" %>
    <%= f.input :photos_url, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
  <% else %>
      <p>Vous n'êtes pas autorisé à consulter cette page.</p>
  <% end  %>
</div>
