<% if current_user.admin? %>
<div class="dashboard-container">
  <h3> Créer un nouvel article</h3>
  <%= simple_form_for(@article) do |f| %>
    <%= f.input :title, placeholder: "Nom de l'article", label: "Titre :" %>
    <br>
    <%= f.rich_text_area :content, placeholder: "Contenu de l'article", label: "Contenu :" %>
    <br>
    <%= f.input :main_photo, as: :file, label: "Photo principale :" %>
    <%= f.input :photos_url, as: :file, input_html: { multiple: true }, label: "Autres photos :" %>
    <button>
      <%= f.button :submit, "Publier l'article" %>
    </button>
  <% end %>
</div>
<% else %>
  <div class="dashboard-container">
    <p>Vous n'êtes pas autorisé à consulter cette page.</p>
  </div>
<% end  %>
