<div class="article-container">
  <% if @article.main_photo.attached? %>
    <div class="article-title" style="background-image: url( <%= cl_image_path @article.main_photo.key, crop: :fill %> )">
      <h3><%= @article.title %></h3>
    </div>
  <% else %>
    <div class="article-title">
      <h3><%= @article.title %></h3>
    </div>
  <% end %>
  <div class="article-content">
    <p><%= @article.content %></p>
  </div>
  <div class="article-photos swiper" data-controller="carousel">
    <div class="swiper-wrapper">
      <% if @article.photos_url.attached? %>
        <% @article.photos_url.each do |photo| %>
          <div class="photos swiper-slide">
            <%= cl_image_tag photo.key %>
          </div>
        <% end  %>
      <% end %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <br>
  <span><em>Publié le <%= @article.date.strftime("%d/%m/%Y") %>.</em></span>
</div>
