<div class="dashboard" data-controller="switch-tab">
  <%= render "shared/navbar_dashboard" %>
  <div class="dashboard-container">
    <div class="dashboard-title">
      <h2>Jardins</h2>
      <span><%= link_to 'Voir tous les jardins', jardins_path %></span>
    </div>
    <div class="dashboard-list">
      <% @jardins.each do |jardin| %>
          <div class="title-btn">
            <h5 data-switch-tabs-target="title" data-action="click->switch-tab#show" data-tab-name="<%= jardin.title %>"><%= jardin.title %></h5>
            <button data-switch-tabs-target="title" data-action="click->switch-tab#show" data-tab-name="<%= jardin.title %>">↓</button>
          </div>
          <div class="small-dash-container" data-switch-tab-target="project" data-tab-name="<%= jardin.title %>">
            <div class="main-photo">
              <% if jardin.main_photo.attached? %>
                <%= cl_image_tag jardin.main_photo.key %>
              <% else %>
                <%= image_tag "SVG/Leafs.svg" %>
              <% end %>
            </div>
            <div class="infos">
              <p><%= jardin.description %></p>
            </div>
            <div class="buttons">
              <button><%= link_to 'Éditer', edit_jardin_path(jardin) %></button>
              <button><%= link_to "Supprimer", jardin_path(jardin), remote: true, data: { turbo_confirm: "Es-tu vraiment sûre de ton choix Alice ?", turbo_method: :delete } %></button>
            </div>
        </div>
      <hr>
      <% end %>
      <br>
      <h4>Créer un nouveau jardin</h4>
      <br>
      <%= simple_form_for(@jardin) do |f| %>
        <%= f.input :title, placeholder: "Nom du jardin :", label: false %>
        <%= f.rich_text_area :description, placeholder: "Description du jardin :", label: false %>
        <hr>
          <%= f.input :main_photo, as: :file, label: "Photo principale :" %>
          <%= f.input :photos_url, as: :file, input_html: { multiple: true }, label: "Autres photos :" %>
        <hr>
        <button>
          <%= f.button :submit, "Mettre en ligne" %>
        </button>
      <% end %>
    </div>
  </div>
</div>
