<div id="coffrets" class="" data-active-nav-target="partial" data-switch-tab-target="partial">
<% @coffrets.each do |coffret| %>
    <div class="sticker-title">
      <h2><%= coffret.title %></h2>
    </div>
    <div class="coffret-container">
      <div class="coffret-main">
        <div class="coffret-image">
          <% if coffret.main_photo.attached? %>
            <%= cl_image_tag coffret.main_photo.key %>
          <% else %>
            <%= image_tag "SVG/Leafs.svg" %>
          <% end %>
        </div>
        <div class="coffret-infos">
          <p><%= coffret.description %></p>
          <div class="details">
            <h4><%= coffret.price %> <%= coffret.price_currency %></h4>
            <%= link_to line_items_path(coffret_id: coffret.id), method: :post do %>
                  <button>Ajouter au panier <%= image_tag "SVG/panier.svg" %></button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="coffret-products">
          <% coffret.coffret_products.each do |product| %>
            <div class="product" data-controller="hover-images">
                <div class="product-image" data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos' data-hover-images-target="img">
                  <% if product.main_photo.attached? %>
                    <div class="background" style="background-image: url(<%= cl_image_path product.main_photo.key %>)">
                      <h4><%= product.title %></h4>
                    </div>
                  <% else %>
                    <div class="background" style="background-color: rgb(231, 231, 231)">
                      <h4><%= product.title %></h4>
                    </div>
                  <% end %>
                </div>
                <div class="product-info d-none" data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos' data-hover-images-target="infos">
                  <p><%= product.description %></p>
                  <p><strong>Quantité :</strong> <%= product.quantity %></p>
                  <p><strong>Origine :</strong> <%= product.origin %></p>
                </div>
            </div>
          <% end %>
        </div>
      </div>
<% end %>
</div>
