<div class="dashboard-container">
  <div class="dashboard-title">
    <h2>Prestations</h2>
    <span><%= link_to 'Voir toutes les prestations', prestation_categories_path %></span>
  </div>
  <h3>Types de prestations </h3>
  <% @prestation_categories.each do |prestation| %>
    <div class="small-dash-container">
      <div class="main-photo">
        <% if prestation.main_photo.attached? %>
          <%= cl_image_tag prestation.main_photo.key %>
        <% else %>
          <%= image_tag "SVG/Leafs.svg" %>
        <% end %>
      </div>
      <div class="infos">
        <h5><%= prestation.title %></h5>
        <p><%= prestation.description %></p>
      </div>
      <div class="buttons">
      <button><%= link_to 'Éditer', edit_prestation_category_path(prestation) %></button>
      <button><%= link_to "Supprimer", prestation_category_path(prestation), method: :delete, remote: true, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></button>
      </div>
    </div>
    <hr>
  <% end %>
  <br>
  <h4>Créer un nouveau type de prestation</h4>
  <br>
  <%= simple_form_for(@prestation_category) do |f| %>
      <%= f.input :title, placeholder: "Nom du type de prestation", label: false %>
      <%= f.input :description, placeholder: "Description du type de prestation", label: false %>
      <%= f.input :main_photo, as: :file, placeholder: "Photo principale", label: "Photo principale :" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, placeholder: "Galerie de photos pour le type de prestation", label: "Galerie de photos pour le type de prestation créée :" %>
      <button>
        <%= f.button :submit, "Créer le type de prestation" %>
      </button>
  <% end %>
  <hr>
  <h3>Mes prestations</h3>
  <% @prestations.each do |prestation| %>
    <div class="small-dash-container">
      <div class="main-photo">
        <% if prestation.main_photo.attached? %>
          <%= cl_image_tag prestation.main_photo.key %>
        <% else %>
          <%= image_tag "SVG/Leafs.svg" %>
        <% end %>
      </div>
      <div class="infos">
        <h4><%= prestation.title %></h4>
        <p><%= prestation.description %></p>
        <span><strong>Dates : </strong><%= prestation.dates %></span>
      </div>
      <div class="buttons">
      <button><%= link_to 'Éditer', edit_prestation_path(prestation) %></button>
      <button><%= link_to "Supprimer", prestation_path(prestation), method: :delete, remote: true, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></button>
      </div>
    </div>
    <hr>
  <% end %>
  <br>
  <h4>Créer une nouvelle prestation</h4>
  <br>
  <%= simple_form_for(@prestation) do |f| %>
      <%= f.input :title, placeholder: "Nom de la prestation", label: false %>
      <%= f.rich_text_area :description, placeholder: "Description de la prestation", label: false %>
      <br>
      <%= f.input :dates, placeholder: "Dates de la prestation", label: false %>
      <hr>
      <%= f.association :prestation_category, prompt: "Selectionne un type de prestation", label: false %>
      <hr>
      <button>
        <%= f.button :submit, "Mettre la prestation en ligne" %>
      </button>
  <% end %>
</div>
