<div class="dashboard-container">
  <div class="dashboard-title">
    <h2>Catégories</h2>
  </div>
  <h3>Catégories principales</h3>
  <% @rayons.reverse.each do |rayon| %>
    <div class="small-dash-container">
      <div class="infos">
      <h5><%= rayon.title %></h5>
      <span>Points de vente : <%= rayon.selling_points %></span>
      </div>
      <div class="buttons">
        <button><%= link_to 'Voir', rayon_path(rayon) %></button>
        <button><%= link_to 'Éditer', edit_rayon_path(rayon) %></button>
        <button><%= link_to "Supprimer #{rayon.title}", rayon_path(rayon), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ? Cela supprimera également toutes sous-catégories de #{rayon.title} ainsi que ses produits."} %></button>
      </div>
    </div>
  <% end %>
  <br>
  <h4>Créer une nouvelle catégorie principale</h4>
  <br>
    <%= simple_form_for(@rayon) do |f| %>
      <%= f.input :title, placeholder: "Nom de la catégorie", label: false %>
      <%= f.input :selling_points, placeholder: "Vendu à ...", label: false %>
      <button>
        <%= f.button :submit, "Créer une nouvelle catégorie principale" %>
      </button>
    <% end %>
  <hr>
  <h3>Sous-catégories</h3>
  <% @categories.reverse.each do |category| %>
    <div class="small-dash-container">
      <div class="infos">
        <h4><%= category.title %></h4>
        <span><strong>Cette catégorie appartient à <%= category.rayon.title %></strong></span>
        <p><%= category.description %></p>
      </div>
      <div class="buttons">
        <button><%= link_to 'Éditer', edit_category_path(category) %></button>
        <button><%= link_to "Supprimer", category_path(category), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ? Cela supprimera également tous les produits de la catégorie concernée." } %></button>
      </div>
    </div>
  <% end %>
  <br>
  <h3>Créer une nouvelle sous-catégorie</h3>
  <br>
  <%= simple_form_for(@category) do |f| %>
    <%= f.input :title, placeholder: "Nom de la catégorie", label: false %>
    <%= f.input :description, placeholder: "Description", label: false %>
    <%= f.association :rayon, prompt: "Selectionne une catégorie principale", label: false %>
    <button>
      <%= f.button :submit, "Créer une nouvelle sous-catégorie" %>
    </button>
  <% end %>
</div>
