<div class="dashboard-container">
  <div class="dashboard-title">
    <h2>Produits</h2>
  </div>
  <button>
    <%= link_to 'Mettre en ligne un nouveau produit', new_product_path %>
  </button>
  <br>
  <% @products.sort_by{|e| e.title}.each do |product| %>
    <div class="title-btn">
      <h5 data-switch-tabs-target="title" data-action="click->switch-tab#show" data-tab-name="<%= product.title %>"><%= product.title %></h5>
      <button data-switch-tabs-target="title" data-action="click->switch-tab#show" data-tab-name="<%= product.title %>">↓</button>
    </div>
    <div class="small-dash-container" data-switch-tab-target="project" data-tab-name="<%= product.title %>">
      <div class="main-photo">
        <% if product.main_photo.attached? %>
          <%= cl_image_tag product.main_photo.key %>
        <% else %>
          <%= image_tag "SVG/Leafs.svg" %>
        <% end %>
      </div>
      <div class="infos">
        <span><strong>Ce produit appartient à la catégorie <%= product.category.title %></strong></span>
        <br>
        <p><%= product.description %></p>
        <span><strong>Quantité :</strong> <%= product.quantity %>.</span>
        <br>
        <span><strong>Origine :</strong> <%= product.origin %>.</span>
        <br>
        <span><strong>Prix :</strong> <%= product.price %> <%= product.price_currency %>.</span>
        <% if product.discount.nil? %>
            <span><strong>Il n'y a pas de promotion sur ce produit.</strong></span>
          <% else %>
            <span class="promo"><strong>Promotion :</strong> <%= product.price_with_discount %> <%= product.price_currency %> (- <%= product.discount %>%)</span>
        <% end %>
        <%# IMAGES %>
      </div>
      <div class="buttons">
        <button><%= link_to 'Voir', product_path(product) %></button>
        <button><%= link_to 'Éditer', edit_product_path(product) %></button>
        <button><%= link_to "Supprimer", product_path(product), method: :delete, remote: true, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></button>
      </div>
    </div>
    <hr>
  <% end %>
</div>
