<div class="dashboard-container">
  <div class="dashboard-title">
    <h2>Jardins</h2>
    <span><%= link_to 'Voir tous les jardins', jardins_path %></span>
  </div>
  <% @jardins.each do |jardin| %>
    <div class="small-dash-container">
      <div class="main-photo">
        <% if jardin.main_photo.attached? %>
          <%= cl_image_tag jardin.main_photo.key %>
        <% else %>
          <%= image_tag "SVG/Leafs.svg" %>
        <% end %>
      </div>
      <div class="infos">
        <h4><%= jardin.title %></h4>
        <p><%= sanitize("#{jardin.description}".truncate(100)) %></p>
      </div>
      <div class="buttons">
        <button><%= link_to 'Éditer', edit_jardin_path(jardin) %></button>
        <button><%= link_to "Supprimer", jardin_path(jardin), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></button>
      </div>
    </div>
  <% end %>
  <h4>Créer un nouveau jardin</h4>
  <br>
  <%= simple_form_for(@jardin) do |f| %>
    <%= f.input :title, placeholder: "Nom du jardin :", label: false %>
    <%= f.rich_text_area :description, placeholder: "Description du jardin :", label: false %>
    <hr>
      <%= f.input :main_photo, as: :file, label: "Photo principale :" %>
      <%= f.input :photos_url, as: :file, input_html: { multiple: true }, label: "Autres photos :" %>
    <hr>
    <button>
      <%= f.button :submit, "Mettre en ligne" %>
    </button>
  <% end %>
</div>
