<% if Product.where.not(discount: nil).exists? %>
  <div id="promo" class="banner-promo">
    <div class="banner-promo-title">
      <h2>Les promotions du moment</h2>
    </div>
    <section class="banner-product swiper" data-controller="carousel">
      <div class="swiper-wrapper">
        <% @products.where.not(discount: nil).each do |product| %>
        <div class="banner-product-card swiper-slide">
          <div class="product-image">
          <%= link_to product_path(product) do %>
            <% if product.main_photo.attached? %>
              <%= cl_image_tag product.main_photo.key %>
            <% else %>
              <%= image_tag "SVG/Leafs.svg" %>
            <% end %>
          <% end %>
          </div>
          <div class="infos">
            <div class="sticker-banner-promo">
              <span>- <%= product.discount %> %</span>
            </div>
            <%= link_to product_path(product) do %>
            <h2><%= product.title %></h2>
            <p><%= sanitize("#{product.description}".truncate(250)) %><b><%= link_to 'Découvrir le produit...', product_path(product) %></b></p>
            <h4><span style="text-decoration: line-through"><%= product.price %></span>
            <%= product.price_with_discount %> <%= product.price_currency %></h4>
            <div class="cart-add">
              <%= link_to line_items_path(product_id: product.id), method: :post do %>
                  <button>Ajouter au panier <%= image_tag "SVG/panier.svg" %></button>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </section>
  </div>
<% end %>
