<div class="navbar-home">
  <div class="navbar">
      <% @rayons.each do |rayon| %>
        <div class="dropdown">
          <div class="drop">
            <%= link_to "#{rayon.title}", rayon_path(rayon) %>
          </div>
          <div class="dropdown-content">
            <% rayon.categories.each do |category| %>
              <%= link_to "#{category.title}", rayon_path(rayon), class: "dropdown-item" %>
            <% end  %>
          </div>
        </div>
      <% end %>
      <div class="dropdown">
        <div class="drop">
          <%= link_to "Coffrets", coffrets_path %>
        </div>
        <div class="dropdown-content">
          <% @coffrets.each do |coffret| %>
            <%= link_to "#{coffret.title}", coffrets_path(anchor: "#{coffret.title}"), class: "dropdown-item" %>
          <% end  %>
        </div>
      </div>
      <div class="dropdown">
        <div class="drop">
          <%= link_to "Prestations", prestation_categories_path %>
        </div>
        <div class="dropdown-content">
          <% @prestation_categories.each do |prestation| %>
            <%= link_to "#{prestation.title}", prestation_categories_path(anchor: "#{prestation.title}"), class: "dropdown-item" %>
          <% end  %>
        </div>
      </div>
      <div class="dropdown">
        <div class="drop">
          <%= link_to "Les Jardins", jardins_path %>
        </div>
        <div class="dropdown-content">
          <% @jardins.each do |jardin| %>
            <%= link_to "#{jardin.title}", jardins_path(anchor: "#{jardin.title}"), class: "dropdown-item" %>
          <% end  %>
        </div>
      </div>
      <div class="dropdown">
        <div class="drop">
          <%= link_to "Blog", articles_path %>
        </div>
        <div class="dropdown-content">
            <%= link_to "Blog", articles_path, class: "dropdown-item" %>
        </div>
      </div>
  </div>
</div>
