<div id="presta" class="" data-active-nav-target="partial" data-switch-tab-target="partial">
  <% @prestations.each do |prestation| %>
    <div class="sticker-title prestations">
      <h2><%= prestation.title %></h2>
    </div>
    <div class="prestation">
      <div class="sticker-presta">
        <em><%= prestation.prestation_category.title %></em>
      </div>
      <p><%= prestation.description %></p>
      <h5>Dates :</h5>
      <span><%= prestation.dates %></span>
      <br>
      <div class="contact-link">
        <a href="#contact-form">
          <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
          <span>Pour vous inscrire, contactez-moi !</span>
          <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
        </a>
      </div>
    </div>
  <% end %>
  <% @prestation_categories.each do |prestation| %>
      <div class="prestation-photos">
        <h3>Les précédentes <%= prestation.title.downcase %> en photos</h3>
          <div class="photos swiper" data-controller="carousel" >
            <% if prestation.photos.attached? %>
              <div class="swiper-wrapper">
                <% prestation.photos.each do |img| %>
                  <div class="swiper-slide">
                      <%= cl_image_tag img.key %>
                  </div>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            <% else %>
              <%= image_tag "SVG/Logo_1.svg" %>
            <% end %>
          </div>
      </div>
  <% end %>
</div>
