<% content_for :meta_title, "Mes Prestations - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Découvrez le métier d'herboriste grâce à mes offres de formation et de distillation" %>
<% content_for :meta_image, cl_image_path(@prestation_categories.first.main_photo.key) if @prestation_categories.first.main_photo.attached? %>
<div data-controller="switch-tab scroll active-nav">
  <div class="navbar-small">
  <% @prestations.each do |prestation| %>
      <a id="<%= I18n.transliterate(prestation.prestation_category.title.gsub(/\s+/, "")) %>" href="" class="" data-action="click->switch-tab#switch click->scroll#scroll" data-switch-tab-target="tab" data-active-nav-target="tab" data-tab-name="<%= prestation.prestation_category.title %>"><%= prestation.prestation_category.title %></a>
  <%end %>
  </div>
  <div class="title" data-scroll-target="title" data-active-nav-target="scroll">
    <h1>Prestations</h1>
  </div>
  <%= render 'shared/presta_index' %>
  <% @prestations.each do |prestation| %>
    <div id="<%= I18n.transliterate(prestation.prestation_category.title.gsub(/\s+/, "")) %>" class="" data-switch-tab-target="content" data-active-nav-target="content" data-tab-name="<%= prestation.prestation_category.title %>">
      <div class="sticker-title prestations">
        <h2><%= prestation.title %></h2>
      </div>
      <div class="prestation">
        <div class="sticker-presta">
          <em><%= prestation.prestation_category.title %></em>
        </div>
        <p><%= prestation.description %></p>
        <h5>Dates :</h5>
        <span><%= prestation.dates %></span>
        <br>
        <div class="contact-link">
          <a href="#contact-form">
            <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
            <span>Pour vous inscrire, contactez-moi !</span>
            <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
          </a>
        </div>
      </div>
      <div class="prestation-photos">
        <h3>Les précédentes <%= prestation.prestation_category.title.downcase %> en photos</h3>
          <div class="photos swiper" data-controller="carousel" >
            <% if prestation.prestation_category.photos.attached? %>
              <div class="swiper-wrapper">
                <% prestation.prestation_category.photos.each do |img| %>
                  <div class="swiper-slide">
                      <%= cl_image_tag img.key %>
                  </div>
                <% end %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            <% else %>
              <%= image_tag "SVG/Logo_1.svg" %>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
  <div id="contact-form">
    <h3>S'inscrire</h3>
    <span><em>Vous pouvez utiliser le formulaire ci-dessous, ou m'envoyer directement un email à lesjardinsdalice(a)outlook.fr</em></span>
    <br>
    <br>
    <%= simple_form_for(@contact) do |f| %>
      <%= f.input :name, placeholder: "Vos noms et prénoms", label: false %>
      <%= f.input :email, placeholder: "Votre email", label: false %>
      <%= f.input :message, placeholder: "Votre message (merci de préciser le nom du stage auquel vous souhaitez participer)", label: false, :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'} %>
      <div class= "d-none">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <button>
        <%= f.submit 'Envoyer' %>
      </button>
    <% end %>
  </div>
</div>
