<div data-controller="switch-tab">
  <div class="navbar-small">
  <% @prestations.each do |prestation| %>
      <a href="" class="" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="<%= prestation.prestation_category.title %>"><%= prestation.prestation_category.title %></a>
  <%end %>
  </div>
  <div class="title">
    <h1>Prestations</h1>
  </div>
  <% @prestations.each do |prestation| %>
  <div class="" data-switch-tab-target="content" data-tab-name="<%= prestation.prestation_category.title %>">
    <div class="sticker-title prestations">
      <h2><%= prestation.title %></h2>
    </div>
    <div class="prestation">
      <div class="sticker-presta">
        <em><%= prestation.prestation_category.title %></em>
      </div>
      <p><%= prestation.description %></p>
      <h5>Dates :</h5>
      <span><%= prestation.dates %></span>
      <br>
      <div class="contact-link">
        <a href="#contact-form">
          <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
          <span>Pour vous inscrire, contactez-moi !</span>
          <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
        </a>
      </div>
    </div>
  </div>
  <% end %>
  <div class="prestation-photos">
    <h3>Les précédentes prestations en photos</h3>
    <% if @images.where(prestation: true).first.prestation_galery.attached? %>
      <div class="photos" data-controller="carousel">
          <%= image_tag "SVG/Hand/Hand_left.svg" %>
          <% @images.where(prestation: true).first.prestation_galery.each do |img| %>
              <div><%= cl_image_tag.img.key %></div>
          <% end %>
          <%= image_tag "SVG/Hand/Hand_right.svg" %>
      </div>
    <% else %>
      <p>Il n'y a pas d'images pour le moment.</p>
    <% end %>
  </div>
  <div id="contact-form">
    <h3>Contact</h3>
    <span>Contactez-moi !</span>
  </div>
</div>
