<h1>Votre commande :</h1>

<%= simple_form_for(@order) do |f| %>
  <p>
  <%= f.input :first_name, placeholder: "Prénom", label: false %>
  <%= f.input :last_name, placeholder: "Nom", label: false %>
  <%= f.input :email, placeholder: "email", label: false %>
  <%= f.input :address, placeholder: "Adresse", label: false %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
