<div class="order-container">
  <div class="order-title">
    <h2>Informations concernant l'envoi de votre colis :</h2>
  </div>
  <%= simple_form_for(@order) do |f| %>
    <p>
    <%= f.input :first_name, placeholder: "Veuillez renseigner votre prénom", label: false, input_html: { required: true } %>
    <%= f.input :last_name, placeholder: "Veuillez renseigner votre nom", label: false, input_html: { required: true } %>
    <%= f.input :email, placeholder: "Veuillez renseigner votre email", label: false, input_html: { required: true } %>
    <%= f.input :phone_number, placeholder: "Veuillez renseigner votre numéro de téléphone", label: false, input_html: { required: true } %>
    <%= f.input :address, placeholder: "Veuillez renseigner votre adresse complète", label: false, input_html: { required: true } %>
    <%# <%= f.input :check, as: :boolean, checked_value: true, unchecked_value: false, label: "Je souhaite payer par chèque (vous recevrez un email avec les informations nécessaires à l'envoi de votre chèque)." %>
    <%# <%= f.input :card, as: :boolean, checked_value: true, unchecked_value: false, label: "Je souhaite payer par carte bleue." %>
    <%= f.input :payment_method, as: :select, collection:Order::PAYMENT_METHOD, selected: Order::PAYMENT_METHOD.first, label: "Choisissez votre moyen de paiement :" %>
    <p><em>*Si vous choisissez le paiement par chèque, vous recevrez un email avec les informations nécessaires à l'envoi de votre chèque.</em></p>
    <br>
    <p>
      Vos données personnelles seront utilisées pour le traitement de votre commande,
      vous accompagner au cours de votre visite du site web, et pour d’autres raisons
      décrites dans dans les <%= link_to "conditions générales de vente",cgv_path(anchor: "prop-intel") %>.
    </p>
    <%= f.input :data, as: :boolean, checked_value: true, unchecked_value: false, placeholder: "J’ai lu et j’accepte les #{link_to "conditions générales de vente",cgv_path}", label: "J’ai lu et j’accepte les conditions générales de vente", input_html: { required: true } %>
    </p>
    <div class="order-button">
      <button>
        <%= f.button :submit, "Valider vos informations" %>
      </button>
    </div>
  <% end %>
</div>
