<div class="container">

  <% if current_user.admin? %>
  <h1>Salut Alice !</h1>
  <h3>Bienvenue sur ton tableau de bord.</h3>
    <div class="py-5">
      <h2>Blog</h2>
        <ul>
          <% @articles.reverse.each do |article| %>
            <li>
              <h4><%= article.title %></h4>
              <span><%= article.date %></span>
            </li>
      <span><%= link_to 'Éditer', edit_article_path(article) %></span>
      <span><%= link_to "Supprimer #{article.title}", article_path(article), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></span>
          <% end %>
        </ul>
      <span><%= link_to 'Créer un nouvel article de blog', new_article_path %></span>
    </div>

    <div class="py-5">
      <h2>Catégories</h2>
      <br>
      <h3>Catégories principales</h3>
      <ul>
      <% @rayons.reverse.each do |rayon| %>
        <li>
          <h4><%= rayon.title %></h4>
          <span>Points de vente : <%= rayon.selling_points %></span>
        </li>
        <span><%= link_to 'Voir', rayon_path(rayon) %></span>
        <span><%= link_to 'Éditer', edit_rayon_path(rayon) %></span>
        <span><%= link_to "Supprimer #{rayon.title}", rayon_path(rayon), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ? Cela supprimera également toutes sous-catégories de #{rayon.title} ainsi que ses produits."} %></span>
      <% end %>
      </ul>
      <h4>Créer une nouvelle catégorie principale</h4>
        <%= simple_form_for(@rayon) do |f| %>
          <%= f.input :title, placeholder: "Nom de la catégorie" %>
          <%= f.input :selling_points, placeholder: "Vendu à ..." %>
          <%= f.submit %>
        <% end %>
    </div>
    <div class="py-5">
      <h3>Sous-catégories</h3>
      <ul>
      <% @categories.reverse.each do |category| %>
        <li>
          <h4><%= category.title %></h4>
          <span><%= category.description %></span>
          <span><strong>Cette catégorie appartient à <%= category.rayon.title %></strong></span>
        </li>
        <span><%= link_to 'Éditer', edit_category_path(category) %></span>
        <span><%= link_to "Supprimer #{category.title}", category_path(category), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ? Cela supprimera également tous les produits de la catégorie concernée." } %></span>
      <% end %>
      </ul>
      <br>
      <h3>Créer une nouvelle sous-catégorie</h3>
      <%= simple_form_for(@category) do |f| %>
        <%= f.input :title, placeholder: "Nom de la catégorie" %>
        <%= f.input :description, placeholder: "Description" %>
        <%= f.association :rayon, prompt: "Selectionne une catégorie principale" %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="py-5">
      <h2>Produits</h2>
      <%= link_to 'Mettre en ligne un nouveau produit', new_product_path %>
      <ul>
      <% @products.reverse.each do |product| %>
        <li>
          <h4><%= product.title %></h4>
          <span><%= product.description %></span>
          <span>quantité : <%= product.quantity %>.</span>
          <span>Origine : <%= product.origin %>.</span>
          <span>Prix : <%= product.price %> <%= product.price_currency %>.</span>
          <% if product.discount.nil? %>
              <span>Il n'y a pas de promotion sur ce produit.</span>
            <% else %>
              <span>Promo : <%= product.price_with_discount %> <%= product.price_currency %></span>
          <% end %>
          <span><strong>Ce produit appartient à <%= product.category.title %></strong></span>
          <%# IMAGES %>
        </li>
        <span><%= link_to 'Éditer', edit_product_path(product) %></span>
        <span><%= link_to "Supprimer #{product.title}", product_path(product), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></span>
      <% end %>
      </ul>
    </div>
    <div class="py-5">
      <h2>Coffrets</h2>
      <span><%= link_to 'Voir tous les coffrets', coffrets_path %></span>
      <ul>
      <% @coffrets.each do |coffret| %>
        <li>
          <h4><%= coffret.title %></h4>
          <span><%= coffret.description %></span>
          <span>Prix : <%= coffret.price %> <%= coffret.price_currency %>.</span>
          <% coffret.coffret_products.each do |product| %>
            <p><%= product.title %> <%= product.price %></p>
          <% end %>
          <%# IMAGES %>
        </li>
        <span><%= link_to 'Éditer', edit_coffret_path(coffret) %></span>
        <span><%= link_to "Supprimer #{coffret.title}", coffret_path(coffret), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></span>
      <% end %>
      </ul>
      <h3>Composer un nouveau coffret</h3>
      <%= simple_form_for(@coffret) do |f| %>
          <%= f.input :title, placeholder: "Nom du coffret" %>
          <%= f.input :description, placeholder: "Description du coffret" %>
          <%= f.input :price_cents, label: "Prix du coffret (en centimes)" %>
          <%= f.input :main_photo, as: :file, placeholder: "Photo du coffret", label: false %>
          <%= f.association :products, label: "Selectionne un produit pour ton coffret" %>
          <%= f.association :products, label: "Selectionne un produit pour ton coffret" %>
          <%= f.association :products, label: "Selectionne un produit pour ton coffret" %>
          <%= f.association :products, label: "Selectionne un produit pour ton coffret" %>
          <%= f.association :products, label: "Selectionne un produit pour ton coffret" %>
          <%= f.submit %>
      <% end %>
    </div>
    <div class="py-5">
      <h2>Formations</h2>
      <span><%= link_to 'Voir toutes les formations', formations_path %></span>
      <ul>
      <% @formations.each do |formation| %>
        <li>
          <h4><%= formation.title %></h4>
          <span><%= formation.description %></span>
          <%# IMAGES %>
        </li>
        <span><%= link_to 'Éditer', edit_formation_path(formation) %></span>
        <span><%= link_to "Supprimer #{formation.title}", formation_path(formation), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></span>
      <% end %>
      </ul>
      <h3>Créer une nouvelle formation</h3>
      <%= simple_form_for(@formation) do |f| %>
          <%= f.input :title, placeholder: "Nom de la formation" %>
          <%= f.input :description, placeholder: "Description de la formation" %>
          <%= f.input :dates, placeholder: "Dates de la formation" %>
          <%= f.submit %>
      <% end %>
    </div>
    <div class="py-5">
      <h2>Jardins</h2>
      <span><%= link_to 'Voir tous les jardins', jardins_path %></span>
      <ul>
      <% @jardins.each do |jardin| %>
        <li>
          <h4><%= jardin.title %></h4>
          <span><%= jardin.description %></span>
          <%# IMAGES %>
        </li>
        <span><%= link_to 'Éditer', edit_jardin_path(jardin) %></span>
        <span><%= link_to "Supprimer #{jardin.title}", jardin_path(jardin), method: :delete, data: { confirm: "Es-tu vraiment sûre de ton choix Alice ?" } %></span>
      <% end %>
      </ul>
      <h3>Créer un nouveau jardin</h3>
      <%= simple_form_for(@jardin) do |f| %>
        <%= f.input :title, placeholder: "Nom du jardin" %>
        <%= f.input :description, placeholder: "Description du jardin" %>
        <%= f.input :main_photo, as: :file, placeholder: "Photo de couverture du jardin", label: false %>
        <%= f.input :photos_url, as: :file, input_html: { multiple: true }, placeholder: "Autres photos du produit", label: false %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="py-5">
      <h2>Utilisateurs</h2>
      <ul>
      <% @users.each do |user| %>
        <li>
          <span><%= user.first_name %></span>
          <span><%= user.last_name %></span>
          <span><%= user.email %></span>
          <p>Is Admin ? : <%= user.admin %></p>
        </li>
      <% end %>
      </ul>
    </div>

  <% else %>
      <p>Vous n'êtes pas autorisé à consulter cette page.</p>
  <% end  %>
</div>
