<% if current_user.admin? %>
<div class="title">
  <h1>Salut Alice !</h1>
  <h3>Bienvenue sur ton tableau de bord.</h3>
</div>
<%= render 'shared/dashboard_orders' %>
<%= render 'shared/dashboard_products' %>
<%= render 'shared/dashboard_coffrets' %>
<%= render 'shared/dashboard_category' %>
<%= render 'shared/dashboard_formations' %>
<%= render 'shared/dashboard_jardins' %>
<%= render 'shared/dashboard_articles' %>
<%= render 'shared/dashboard_users' %>
<%= console %>
<% else %>
    <p>Vous n'êtes pas autorisé à consulter cette page.</p>
<% end  %>
