<div class="banner-logo">
  <%= image_tag "SVG/Banner_logo.svg" %>
</div>
<%= render 'shared/navbar_home' %>
<div class="banner-image">
  <%= image_tag "grange.jpg" %>
</div>
<% if Product.where.not(discount: nil) %>
  <div class="banner-discount">
    <div class="hands">
      <%= image_tag "SVG/Hand/Hand_open.svg" %>
    </div>
    <div>
    <h4>Les promotions du moment</h4>
        <div class="discount-products">
          <% @products.where.not(discount: nil).each do |product| %>
              <div class="product">
                <h5><%= product.title %></h5>
                <div class="product-image">
                  <% if product.main_photo.attached? %>
                    <%= cl_image_tag product.main_photo.key %>
                  <% else %>
                    <%= image_tag "SVG/Leafs.svg" %>
                  <% end %>
                </div>
                <span><strong> <%= product.price_with_discount %> <%= product.price_currency %></strong> au lieu de <%= product.price %>  <%= product.price_currency %></span>
              </div>
          <% end  %>
        </div>
    </div>
    <div class="hands">
      <%= image_tag "SVG/Hand/Hand_open.svg" %>
    </div>
  </div>
<% end %>
<% @rayons.each do |rayon| %>
  <div class="banner-items">
    <div class="banner-items-title">
      <h4><%= rayon.title %></h4>
    </div>
    <div class="banner-category">
      <% rayon.categories.each do |c| %>
        <div class="banner-category-card">
          <%= link_to rayon_path(rayon) do %>
            <%= c.title %>
            <div class="product-image">
              <% if c.main_photo.attached? %>
                <%= cl_image_tag c.main_photo.key %>
              <% else %>
                <%= image_tag "SVG/Leafs.svg" %>
              <% end %>
            </div>
          <% end  %>
        </div>
      <% end  %>
    </div>
    <div class="banner-items-link">
      <h4>
        <%= link_to "Voir tout mes produits", rayon_path(rayon) %>
      </h4>
    </div>
  </div>
<% end %>
<div class="banner-items">
  <div class="banner-items-title">
    <h4>Coffrets</h4>
  </div>
  <div class="banner-category">
    <% @coffrets.each do |c| %>
      <div class="banner-category-card">
        <%= link_to coffrets_path do %>
          <%= c.title %>
          <% if c.main_photo.attached? %>
            <%= cl_image_tag c.main_photo.key %>
          <% else %>
            <%= image_tag "SVG/Leafs.svg" %>
          <% end %>
        <% end  %>
      </div>
    <% end  %>
  </div>
  <div class="banner-items-link">
    <h4>
      <%= link_to "Voir tout mes coffrets", coffrets_path %>
    </h4>
  </div>
</div>
<div class="banner-items">
  <div class="banner-items-title">
    <h4>Formations</h4>
  </div>
  <div class="banner-category">
    <% @formations.each do |f| %>
      <div class="banner-category-card">
        <%= link_to formations_path do %>
          <%= f.title %>
          <% if f.main_photo.attached? %>
            <%= cl_image_tag f.main_photo.key %>
          <% else %>
            <%= image_tag "SVG/Leafs.svg" %>
          <% end %>
        <% end  %>
      </div>
    <% end  %>
  </div>
  <div class="banner-items-link">
    <h4>
      <%= link_to "Voir toutes mes formations", formations_path %>
    </h4>
  </div>
</div>
