<div class="banner-logo" data-controller="disappear-home" data-action="scroll@window->disappear-home#disappear">
  <%= image_tag "SVG/Banner_logo.svg" %>
</div>
<%= render 'shared/navbar_home' %>
<% if @images.where(home: true).first.home_cover.attached? %>
  <div class="banner-image" style="background-image: url(<%= cl_image_path @images.where(home: true).first.home_cover.key, :crop=>"fit" %>)">
    <%= link_to jardins_path do %>
    <div class="overlay-2">
      <div class="overlay-1">
        <div class="jardin-button">
          <h3>Découvrir les Jardins d'Alice</h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% else %>
  <div class="banner-image" style="background-image: url(grange.jpg)">
    <%= link_to jardins_path do %>
    <div class="jardin-button">
      <button>Découvrir les Jardins d'Alice</button>
    </div>
    <% end %>
    <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
  </div>
<% end %>

<%= render 'shared/home_promo' %>
<%= render 'shared/home_rayon' %>
<%= render 'shared/home_coffrets' %>
<%= render 'shared/home_presta' %>

<%# <div class="swiper" data-controller="carousel">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div> %>
