<div class="banner-logo">
  <%= image_tag "SVG/Banner_logo.svg" %>
</div>
<%= render 'shared/navbar_home' %>
<% if @images.first.home_cover.attached? %>
  <div class="banner-image">
    <%= cl_image_tag @images.first.home_cover.key %>
  </div>
<% else %>
  <div class="banner-image">
    <%= image_tag "grange.jpg" %>
  </div>
<% end %>
<% if Product.where.not(discount: nil) %>
  <div class="banner-items">
    <div class="banner-items-title">
      <h2>Les promotions du moment</h2>
    </div>
    <div class="banner-category">
      <% @products.where.not(discount: nil).each do |product| %>
        <div class="banner-category-card">
            <%= link_to product_path(product) do %>
            <h5> - <%= product.discount %>% sur <%= product.title %></h5>
            <span><strong> <%= product.price_with_discount %> <%= product.price_currency %></strong> au lieu de <%= product.price %>  <%= product.price_currency %></span>
            <div class="product-image">
              <% if product.main_photo.attached? %>
                <%= cl_image_tag product.main_photo.key %>
              <% else %>
                <%= image_tag "SVG/Leafs.svg" %>
              <% end %>
            </div>
            <% end %>
        </div>
      <% end  %>
    </div>
  </div>
<% end %>
<% @rayons.each do |rayon| %>
  <div class="banner-items">
    <div class="banner-items-title">
      <h3><%= rayon.title %></h3>
    </div>
    <div class="banner-category">
      <% rayon.categories.each do |c| %>
        <div class="banner-category-card">
          <%= link_to rayon_path(rayon) do %>
            <%= c.title %>
            <div class="product-image">
              <% if c.main_photo.attached? %>
                <%= cl_image_tag c.main_photo.key %>
              <% else %>
                <%= image_tag "SVG/Leafs.svg" %>
              <% end %>
            </div>
          <% end  %>
        </div>
      <% end  %>
    </div>
    <div class="banner-items-link">
      <h4>
        <%= link_to "Voir tout mes produits", rayon_path(rayon) %>
      </h4>
    </div>
  </div>
<% end %>
<div class="banner-items">
  <div class="banner-items-title">
    <h3>Coffrets</h3>
  </div>
  <div class="banner-category">
    <% @coffrets.each do |c| %>
      <div class="banner-category-card">
        <%= link_to coffrets_path do %>
          <%= c.title %>
          <div class="product-image">
            <% if c.main_photo.attached? %>
              <%= cl_image_tag c.main_photo.key %>
            <% else %>
              <%= image_tag "SVG/Leafs.svg" %>
            <% end %>
          </div>
        <% end  %>
      </div>
    <% end  %>
  </div>
  <div class="banner-items-link">
    <h4>
      <%= link_to "Voir tout mes coffrets", coffrets_path %>
    </h4>
  </div>
</div>
<div class="banner-items">
  <div class="banner-items-title">
    <h3>Prestations</h3>
  </div>
  <div class="banner-category">
    <% @prestations.each do |p| %>
      <div class="banner-category-card">
        <%= link_to prestation_categories_path do %>
          <%= p.title %>
          <div class="product-image">
            <% if p.main_photo.attached? %>
              <%= cl_image_tag p.main_photo.key %>
            <% else %>
              <%= image_tag "SVG/Leafs.svg" %>
            <% end %>
          </div>
        <% end  %>
      </div>
    <% end  %>
  </div>
  <div class="banner-items-link">
    <h4>
      <%= link_to "Voir toutes mes prestations", prestation_categories_path %>
    </h4>
  </div>
</div>
