<div class="title">
  <h1>Votre panier</h1>
</div>
<% @cart.line_items.each do |line_item| %>
  <div class="line-items">
    <% if line_item.product_id %>
      <div class="product-image">
        <% if line_item.product.main_photo.attached? %>
          <%= cl_image_tag line_item.product.main_photo.key %>
        <% else %>
          <%= image_tag "SVG/Leafs.svg" %>
        <% end %>
      </div>
      <div class="product-info">
        <h4><%= line_item.product.title %> x <%= line_item.quantity %></h4>
        <% if line_item.product.discount.nil? %>
          <span>Prix à l'unité : <%= line_item.product.price %> <%= line_item.product.price_currency %>.</span>
        <% else %>
          <span>Prix à l'unité : <strong><%= line_item.product.price_with_discount %> <%= line_item.product.price_currency %></strong>  au lieu de <%= line_item.product.price %> <%= line_item.product.price_currency %> (-<%= line_item.product.discount %>%).</span>
        <% end %>
        <br>
        <h5>Prix total : <%= (line_item.total_price) %> <%= (line_item.product.price_currency) %>.</h5>
      </div>
      <div class="cart-buttons">
        <button>
          <%= link_to "+1", line_item_add_path(id: line_item), method: :post %>
        </button>
        <button>
          <%= link_to "-1", line_item_reduce_path(id: line_item), method: :post %>
        </button>
        <button>
          <%= link_to "Supprimer l'article du panier", line_item_path(line_item), method: :delete %>
        </button>
      </div>
    <% elsif line_item.coffret_id %>
      <div class="product-image">
        <% if line_item.coffret.main_photo.attached? %>
          <%= cl_image_tag line_item.coffret.main_photo.key %>
        <% else %>
          <%= image_tag "SVG/Leafs.svg" %>
        <% end %>
      </div>
      <div class="product-info">
        <h4><%= line_item.coffret.title %> x <%= line_item.quantity %></h4>
        <span>Prix à l'unité : <%= (line_item.coffret.price) %> <%= (line_item.coffret.price_currency) %></span>
        <br>
        <h5>Prix total : <%= (line_item.total_price) %> <%= (line_item.coffret.price_currency) %></h5>
      </div>
      <div class="cart-buttons">
        <button>
          <%= link_to "+1", line_item_add_path(id: line_item), method: :post %>
        </button>
        <button>
          <%= link_to "-1", line_item_reduce_path(id: line_item), method: :post %>
        </button>
        <button>
          <%= link_to "Supprimer l'article du panier", line_item_path(line_item), method: :delete %>
        </button>
      </div>
    <% end  %>
  </div>
<% end %>
<div class="total-price">
  <h3>Total: <%= (@cart.sub_total) %> €</h3>
  <p><em>Des frais d'envois s'appliqueront lors du paiement.</em></p>
</div>
<div class="cart-actions">
  <button class="cart-validation">
    <%= link_to "Valider le panier", new_order_path %><br>
  </button>
  <br>
  <button>
    <%= link_to "Vider le panier", cart_path(@current_cart),method: :delete, data: {confirm: "Êtes vous sûr ?"} %>
  </button>
</div>
