<div class="order-container">
  <div class="title">
    <h2>Récapitulatif de votre commande</h2>
  </div>
  <% @order.line_items.each do |line_item| %>
    <% if line_item.product_id %>
        <h4><%= line_item.product.title %> x <%= line_item.quantity %></h4>
    <% elsif line_item.coffret_id %>
        <h4><%= line_item.coffret.title %> x <%= line_item.quantity %></h4>
    <% end  %>
  <% end %>
  <P>Commande à envoyer à <%= @order.first_name%> <%= @order.last_name %>  au <%= @order.address %></P>
  <button id="pay">
    <h4>Réglez votre commande pour <strong><%= @order.amount %> €</strong></h4>
  </button>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
</div>
