<div class="title">
  <h1>Formations</h1>
</div>

<% @formations.reverse.each do |formation| %>
  <div class="formation">
    <h3><%= formation.title %></h3>
    <p><%= formation.description %></p>
    <span> <h5>Dates : </h5><%= formation.dates %></span>
    <div class="contact-link">
      <a href="#contact-form">
        <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
        <span>Pour vous inscrire, contactez-moi !</span>
        <%= image_tag "SVG/Hand/Hand_bottom.svg" %>
      </a>
    </div>
  </div>
<% end %>
<div id="contact-form">
  <h3>Contact</h3>
  <span>Contactez-moi !</span>
</div>
