<div class="dashboard-container">
  <% if current_user.admin? %>
  <h3>Éditer <%= @coffret.title %></h3>
  <br>
  <%= simple_form_for(@coffret) do |f| %>
      <%= f.input :title, placeholder: "Nom du coffret", label: false %>
      <%= f.input :description, placeholder: "Description du coffret", label: false %>
      <%= f.input :price_cents, label: "Prix du coffret", label: "Prix du coffret :" %>
      <%= f.input :main_photo, as: :file, placeholder: "Photo du coffret", label: "Photo du coffret" %>
      <%= f.association :products, label: "Selectionne plusieurs produits pour ton coffret :" %>
      <button>
        <%= f.button :submit, "Publier" %>
      </button>
  <% end %>
  <% else %>
      <p>Vous n'êtes pas autorisé à consulter cette page.</p>
  <% end  %>
</div>
