<% content_for :meta_title, "Mes Coffrets bio - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Découvrez mes coffrets à base de plantes bio ceuillies dans mes jardins de Beuil et de Cantaron" %>
<% content_for :meta_image, cl_image_path(@coffrets.first.main_photo.first.key) if @coffrets.first.main_photo.first.present? %>
<div data-controller="switch-tab scroll active-nav">
  <div class="navbar-small">
  <% @coffrets.each do |coffret| %>
      <a id="<%= I18n.transliterate(coffret.title.gsub(/\s+/, "")) %>" class="" data-action="click->switch-tab#switch click->scroll#scroll" data-switch-tab-target="tab" data-active-nav-target="tab" data-tab-name="<%= coffret.title %>"><%= coffret.title %></a>
  <%end %>
  </div>
  <div class="title" data-scroll-target="title" data-active-nav-target="scroll">
    <h1>Coffrets</h1>
  </div>
  <%= render 'shared/coffrets_index' %>
  <% @coffrets.each do |coffret| %>
  <div id="<%= I18n.transliterate(coffret.title.gsub(/\s+/, "")) %>" class="" data-switch-tab-target="content" data-active-nav-target="content" data-tab-name="<%= coffret.title %>">
    <div class="sticker-title">
      <h2><%= coffret.title %></h2>
    </div>
    <div class="coffret-container">
      <div class="coffret-main">
        <div class="coffret-image swiper" data-controller="carousel">
          <div class="swiper-wrapper">
            <% if coffret.main_photo.attached? %>
              <% coffret.main_photo.each do |img| %>
                <div class="swiper-slide">
                 <%= cl_image_tag img.key %>
                </div>
              <% end %>
            <% else %>
              <%= image_tag "SVG/Leafs.svg" %>
            <% end %>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="coffret-infos">
          <p><%= coffret.description %></p>
          <div class="details">
            <h4><%= coffret.price %> <%= coffret.price_currency %></h4>
            <%= link_to line_items_path(coffret_id: coffret.id), method: :post do %>
                  <button>Ajouter au panier <%= image_tag "SVG/panier.svg" %></button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="coffret-products">
        <% coffret.coffret_products.each do |product| %>
          <div class="product" data-controller="hover-images">
              <div class="product-image" data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos' data-hover-images-target="img">
                <% if product.main_photo.attached? %>
                  <div class="background" style="background-image: url(<%= cl_image_path product.main_photo.key %>)">
                    <h4><%= product.title %></h4>
                  </div>
                <% else %>
                  <div class="background" style="background-color: rgb(231, 231, 231)">
                    <h4><%= product.title %></h4>
                  </div>
                <% end %>
              </div>
              <div class="product-info d-none" data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos' data-hover-images-target="infos">
                <p><%= sanitize("#{product.description}".truncate(100)) %></p>
                <p><strong>Quantité :</strong> <%= product.quantity %></p>
                <p><strong>Origine :</strong> <%= product.origin %></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
