<h2>Coffrets</h2>
<ul>
<% @coffrets.each do |coffret| %>
  <li>
    <h4><%= coffret.title %></h4>
    <span><%= coffret.description %></span>
    <span>Prix : <%= coffret.price %> <%= coffret.price_currency %>.</span>
    <% coffret.coffret_products.each do |product| %>
      <p><%= product.title %> <%= product.price %></p>
    <% end %>
    <%= link_to "Ajouter #{coffret.title} au panier", line_items_path(coffret_id: coffret.id), method: :post %>
    <%# IMAGES %>
  </li>
<% end %>
</ul>
