<div data-controller="switch-tab">
  <div class="navbar-small">
  <% @coffrets.each do |coffret| %>
      <a href="" class="" data-action="click->switch-tab#switch" data-switch-tab-target="tab" data-tab-name="<%= coffret.title %>"><%= coffret.title %></a>
  <%end %>
  </div>
    <div class="title">
      <h1>Coffrets</h1>
    </div>
  <% @coffrets.each do |coffret| %>
  <div id="<%= coffret.title %>" class="" data-switch-tab-target="content" data-tab-name="<%= coffret.title %>">
    <div class="sticker-title">
      <h2><%= coffret.title %></h2>
    </div>
    <div class="coffret-container">
      <div class="coffret-main">
        <div class="coffret-image">
          <% if coffret.main_photo.attached? %>
            <%= cl_image_tag coffret.main_photo.key %>
          <% else %>
            <%= image_tag "SVG/Leafs.svg" %>
          <% end %>
        </div>
        <div class="coffret-infos">
          <p><%= coffret.description %></p>
          <div class="details">
            <h4><%= coffret.price %> <%= coffret.price_currency %></h4>
            <%= link_to line_items_path(coffret_id: coffret.id), method: :post do %>
                  <button>Ajouter au panier <%= image_tag "SVG/panier.svg" %></button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="coffret-products">
        <% coffret.coffret_products.each do |product| %>
          <div class="products" data-controller="hover-images">
              <div class="product-image" data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos' data-hover-images-target="img">
                <% if product.main_photo.attached? %>
                  <%= cl_image_tag product.main_photo.key %>
                <% else %>
                  <%= image_tag "SVG/Leafs.svg" %>
                <% end %>
              </div>
              <div class="product-info d-none" data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos' data-hover-images-target="infos">
                <h5><%= product.title %></h5>
                <p><%= product.description %></p>
                <p><strong>Quantité :</strong> <%= product.quantity %></p>
                <p><strong>Origine :</strong> <%= product.origin %></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
