<% if current_user.admin? %>
<div class="dashboard-container">
    <h3>Mettre à jour <%= @product.title %></h3>
    <br>
    <%= simple_form_for(@product) do |f| %>
      <%= f.input :title, placeholder: "Nom du produit", label: false %>
      <%= f.input :description, placeholder: "Description du produit", label: false %>
      <%= f.input :origin, placeholder: "Origine du produit", label: false %>
      <%= f.input :quantity, placeholder: "Quantité du produit (n'oublie pas d'ajouter l'unité de mesure)", label: false %>
      <%= f.input :price_cents, label: "Prix du produit" %>
      <%= f.input :main_photo, as: :file, label: "Image de couverture" %>
      <%= f.input :photos_url, as: :file, input_html: { multiple: true }, label: "Autres images" %>
      <%= f.association :category, prompt: "Selectionne une catégorie pour ton produit", label: "Selectionne une catégorie pour ton produit" %>
      <%= f.input :discount, placeholder: "Promo (en %)", label: false %>
      <button>
        <%= f.button :submit, "Mettre à jour #{@product.title}" %>
      </button>
    <% end %>
  <% else %>
      <p>Vous n'êtes pas autorisé à consulter cette page.</p>
</div>
<% end  %>
