<h3><%= @product.title %></h3>

<span><%= @product.description %></span>
<span>Origine : <%= @product.origin %>.</span>
<span>Quantité : <%= @product.quantity %>.</span>
<span>Prix : <%= @product.price_cents %> <%= @product.price_currency %>.</span>
<span>Ce produit appartient à la catégorie : <%= @product.category.title %></span>
