<div class="product-container">
  <h3><%= @product.title %></h3>
  <div class="product-main">
    <div class="product-image">
      <%# IMAGE %>
    </div>
    <div class="product-infos">
      <p><%= @product.description %></p>
      <span>Origine : <strong><%= @product.origin %></strong>.</span>
      <br>
      <span>Quantité : <strong><%= @product.quantity %></strong>.</span>
      <br>
      <span>Prix : <strong><%= @product.price %> <%= @product.price_currency %></strong>.</span>
    </div>
    <button>
      <%= link_to line_items_path(product_id: @product.id), method: :post do %>
        <div class="cart-add">
          <span>Ajouter au panier</span>
        </div>
      <% end %>
    </button>
  </div>
</div>
